<div class="user-controls">
    <a class="user-controls-toggle" tabindex="0">
        <div class="button secondary dropdown expand small">
            <span class="user-icon-user"></span>
            {{#if user}}
                {{#if user.displayName}}{{user.displayName}}{{else}}{{user.name}}{{/if}}
            {{else}}
                Not Logged In
            {{/if}}
        </div>
    </a>

    <div class="user-menu" tabindex="0" style="display: none;">
        {{#if user}}
            <ul>
                <li class="user-menu-logout"  tabindex="-1">Log Out</li>
                <li class="user-menu-profile" tabindex="-1"><a href="/profile">Profile</a></li>
            </ul>
        {{else}}
            <p>You must log in before you can make changes.</p>
            <p><a href="/login{{#if path}}?source={{path}}{{/if}}" tabindex="0">Log in</a> or <a href="/signup{{#if path}}?source={{path}}{{/if}}" tabindex="0">Create an account</a>.</p>
        {{/if}}
    </div>
</div>